<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tools.android.osdownloads">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <provider
                android:name="tools.android.osdownloads.DownloadProvider"
                android:authorities="osdownloads"
                android:exported="false"/>

        <service android:name="tools.android.osdownloads.DownloadService"
                 android:exported="false"/>

        <provider
            android:name="tools.android.osdownloads.DownloadFileProvider"
            android:authorities="tools.android.osdownloads"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/download" />
        </provider>

        <activity android:name=".DownloadInstallerActivity"/>
    </application>
</manifest>
